@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Rubik+Bubbles&display=swap');
p {
  font-family: "Rubik Bubbles", system-ui;
  color: rgb(116, 116, 95);
  font-size: 12px;
  line-height: 35px;
  font-weight: 400;
}

.img-circle {
  width: 100px;
  border-radius: 25%;
}

.btn-blue {
  background-color: #e1d56b;
  color: rgb(149, 127, 54);
  padding: 7px 20px;
  border-radius: 100px;
  font-weight: 600;
}

.btn-blue:hover {
  background-color: black;
  color: white;
}

h1,h2,h3 {
  color: rgb(102, 62, 45);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  line-height: 35px;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-image: url("https://th.bing.com/th/id/OIP.0EZBdf1O95qZJy9CnjhqPAHaDt?w=347&h=174&c=7&r=0&o=5&dpr=2&pid=1.7");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 700px;
  margin: 70px auto;
}

.card {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  background-color: rgb(212, 201, 187);
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline li {
  display: inline-block;
}


.my-icon {
  font-size: 30px;
  margin: 10px;
  color: rgb(0, 0, 0);
}

.my-icon:hover {
  color: gray;
  scale: 1.5;
}
